
header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4rem;
    padding: 1rem 2rem;
}

header img {
  height: 3rem;
  width: 10rem;
  object-fit: contain;
}

nav {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

nav a {
    text-decoration: none;
    color: white;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.1rem;
    padding-bottom: 4px;
}

nav a:hover {
    display: inline-block;
    border-bottom: 2px solid white;
    padding-bottom: 2px;

}