header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4rem;
    padding: 1rem 2rem;
}

header img {
    height: 3rem;
    width: 10rem;
    object-fit: contain;
}

nav {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

nav button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 6px;
    background-color: transparent;
    color: #a18aba;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

nav button:hover {
    background-color: #1b082f;
    color: #ebe7ef;
}

nav button.active {
    background-color: #7925d3;
    color: #ebe7ef;
}